nav{
    
    p{
        font-size: 1.4em;
        padding-right: 3px;
    }
    .icons {
        
        gap: 0;
        svg{
            width: 27px;
            height: 27px;
        }
    }
}

article{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
    .impact-section{
        padding-right: 0;
        h1{
            font-size: 1.75em;
            margin-bottom: -10px;
        }
        p{
            font-size: 1em;
        }
        button{
            width: 35vw;
            align-self: center;
        }
    }
    .image-section{
        text-align: center;
        img{
            width: 100%;        
            height: auto;
            display: block;
            margin: 0 auto;
            
        }
    }
}

.product-section {
    .healthcare {
        .card-section {
            width: 100%;
            flex-wrap: nowrap;
            column-gap: 30px;
            overflow-x: auto;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
            display: flex;
            justify-content: start;
            .product-card{
                
                min-width: 130px; 
                max-width: 400px;
                height: auto;
                
                .product-image{
                    img{
                        width: 100%
                    }
                }
            
              }
        }
        
    }
}



.furniture {
    @extend .healthcare;
}

.about-us {
    
    .mission-section{
        
        flex-direction: column;
        gap: 50px;
        .earth{
            
            
            flex-direction: column;
            width: 50vw;
            text-align: center;
            gap: 0px;
            img{
                align-self: center;
                width: 30vw;
                padding-bottom: 50
            }
        }
        
        .innovation{
            @extend .earth;
        }
        
    }
    
}
.gallery{
    .gallery-images{
        flex-direction: column;
        gap: 30px;
        img{
            width: 60vw;
        }
    }
}

.location{
    .map{
        img{
            width: 90vw;
        }
    }
}